# The lint directories and files to be ignored

# Directories
/.coverage
/.git
/.idea
/.scannerwork
/.vscode
/coverage
/bin
/dist
/build
/node_modules
/out
/public
/static

# Configuration files
/*.js
